body {
  background: url('../images/bg-ch5-wood.jpg') center center / cover fixed no-repeat;
  color: #332c1f;
}
main {
  background-color: rgba(255, 255, 245, 0.9);
}
header, footer {
  background-color: rgba(245, 230, 200, 0.75);
}
h2 {
  border-color: #aa8855;
}
